{
  "extends": [
    "oclif",
    "oclif-typescript",
    "eslint:recommended"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "no-extra-semi": "off",
    "no-extra-boolean-cast": "off",
    "unicorn/catch-error-name": "off",
    "unicorn/explicit-length-check": "off"
  }
}
