*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
/.idea
/testyamls
/platformer
# ./bin/run apply ~/k8samples/hello-app/manifests --environment="cliapply"
.vscode/settings.json
